img,
video {
  max-width: 95%;
  width: auto;
  height: auto;
  max-height: 350px;
  margin: 15px 10px;
  transition: all 0.3s ease;
  display: block;
  object-fit: contain;
}
img {
  cursor: zoom-in;
}
img.zoom-image {
  max-height: none;
  max-width: 100%;
  position: relative;
  cursor: zoom-out;
}
img:hover {
  transform: scale(1.01);
}

/* 响应式样式的嵌入16:9的视频 */
/* 外部容器 */
.responsive-video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}
/* 容器内部的 iframe */
.responsive-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
/* 覆盖主题中可能存在的样式。 */
  max-height: none;
  margin: 0;
}